.chain {
    width: 20%;
    overflow: hidden;
    height: 50%;
    float: left;
    margin: 5 5 5 5;
    background: #82b74b;
    color: #3e4444;
    box-shadow: 1px 1px #405d27;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #3e4444;
}
form {

}

input {

}

#footer {
    color: #c1946a;
}