.chain {
    width: 19%;
    overflow: hidden;
    height: 50%;
    float: left;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    background: #82b74b;
    color: #3e4444;
    box-shadow: 2px 2px 2px grey;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #3e4444;
}
form {

}

input, select {
    background-color: #3e4444;
    color: #82b74b
}

#footer {
    color: #c1946a;
}

.title{
    color: #c1946a;
}