{% extends "layout.html" %}
{% block title %}CUTC-Deloitte{% endblock %}
{% block content %}

<div class="chain abc">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input placeholder="date" name="date"><input name=""><input type="submit" value="Echo"></form>
</div>
<div class="chain corp1">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>
<div class="chain corp2">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>
<div class="chain abc">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>
<div class="chain abc">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>
<div class="chain abc">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>
<div class="chain abc">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>
<div class="chain abc">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>
<div class="chain abc">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>
<div class="chain abc">
    <p>Info: {{ info1 }}</p>
    <h1>chainname: {{ info2 }}</h1>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Echo"></form>
</div>


{% endblock %}